@use '../setup/mixins' as mix;
@use '../setup/variables' as v;

.accessories-container {
    margin-top: mix.rem(60px);
    margin-bottom: mix.rem(60px);
    display: flex;
    flex-direction: column;

    & div {
        display: flex;
        flex-direction: column;
    }

    & .accessory {
        display: flex;
        flex-direction: row;

        @include mix.respond-to(medium) {
            flex-direction: column;
        }

        & div {
            display: flex;
            border: 1px solid v.$clr4;
            padding: mix.rem(13.5px);


            &:not(:first-child) {
                margin-left: mix.rem(10px);
            }

            @include mix.respond-to(medium) {
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
    }
}