@use '../setup/variables' as v;
@use '../setup/mixins' as mix;


.plants-cards {
    display: flex;
    flex-direction: column;
}

.card-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: mix.rem(23px);
  }
  
