@use '../setup/variables' as v;

.plant-controls {
    display: flex;
    flex-direction: row;
}

.plants-list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: v.$clr3;
}