
@use '../setup/mixins' as mix;
@use '../setup/variables' as v;

.filter-container {
    margin: 0;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    padding: 20px;
    display: block;

    select {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
    }

    label {
        display: block;
        margin-top: 5px;

        input[type="checkbox"] {
            margin-right: 5px;
        }

        .price-input {
            display: flex;
            align-items: center;

            input[type="number"] {
                flex: 1;
                padding: 5px;
            }

            .separator {
                margin: 0 5px;
            }
        }
    }

    button[type="reset"] {
        margin-top: mix.rem(10px);
        // background-color: v.$clr5;
        // color: white;
        border: none;
        padding: mix.rem(10px) mix.rem(20px);
        cursor: pointer;
    }
}


