
// COLOR PALETTE
$clr1: #BE8F59;
$clr2: #6E8F64;
$clr3: #394831;
$clr4: #D4D9D5;
$clr5: #EFEFEF;

// LAYOUT
$font-style-normal: normal;
$font-weight-bold: bold; 
$font-weight-normal: normal; 
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-30: 30px;
$font-size-48: 48px;
$font-size-84: 84px;
$character-spacing-0: 0px;
$line-spacing-26: 26px; 
$line-spacing-40: 40px;
$line-spacing-63: 63px;
$line-spacing-86: 86px;

// BREAK POINTS
// $break-narrow: 740px;
// $break-normal: 960px;
// $break-wide: 1200px;