@use '../setup/mixins' as mix;
@use '../setup/variables' as v;


.cfa-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-image: url("../../imgs/main/Header_BG.png");
    height: mix.rem(737px);
    background-position: right;

}

.cfa {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;

}

.cfa-btns {
    margin-top: mix.rem(12px);

    :first-child {
        margin-right: mix.rem(15px);
    }
}

.main-layout {
    background-image: url("../../imgs/main/background1120.png");
}

.promo-tags {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;

}

.promos {
    display: flex;
    flex-direction: column;
}

.promo-env {
    grid-area: 1 / 4 / 2 / 5;
}

.promo-nun {
    grid-area: 1 / 7 / 2 / 8;
}

.nunny-p {
    margin-top: mix.rem(-35px);
}

.promo-delivery-p {
    display: flex;
    flex-direction: column;
    margin-top: mix.rem(5px);
    width: 180px;
}

.promo-del {
    grid-area: 1 / 10 / 2 / 11;
    margin-top: mix.rem(25px);
}

  .image-with-text {
    position: relative;
  }
  
  .text-container {
    position: absolute;
    font-size: 1.1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image-with-text img {
    display: block;
    max-width: 100%;
  }

  .text-container h2 {
    // font-size: 2rem;
    // margin: 0;
    max-width: 100%;
  }
  
  .text-container p {
    // font-size: 1.2rem;
    // margin: 0;
    max-width: 100%;
  }
  




.most-popular {
    display: flex;
    flex-direction: column;
    position: relative;

    .most-pop-list {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        flex-wrap: wrap;
        gap: mix.rem(30px);

        li {
            display: flex;
        }

        .pop-img-container {
            display: flex;
            flex-direction: column;

            li {
                flex-direction: column;
            }
        }
    }
}

.pop-img {
    cursor: pointer;
    background-color: blue;
}

.growing-highlights {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    margin-top: mix.rem(180px);

    ul {
        // list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: mix.rem(200px);

        li {
            display: flex;
            flex-direction: column;
        }
    }
}

.showcase {
    display: flex;
    flex-direction: column;
    margin-top: mix.rem(180px);
}

@include mix.respond-to(high) {

    .growing-highlights {
        margin-top: mix.rem(50px);

        ul {
        gap: mix.rem(100px);
        }
    }
}

@include mix.respond-to(medium) {
    .cfa-container {
        grid-template-columns: none;
        height: mix.rem(200px);
        background-size: cover;
        // object-fit: left;
        margin-left: mix.rem(-32px);
    }

    .cfa {
        margin-top: mix.rem(10px);
    }

    .cfa-btns {
        margin-top: mix.rem(12px);
    }

    .promo-tags {
        display: flex;
        flex-direction: column;
    }

    // .bottom-image {
    //     position: absolute;
    //     object-fit: cover;
    //     width: mix.rem(400px);
    // }

    // .top-image {
    //     object-fit: cover;
    //     width: mix.rem(400px);
    // }

    .most-pop-list {

        gap: mix.rem(20px);


        li {
            width: auto;
            margin-right: mix.rem(20px);
        }

        .pop-img-container {
            flex-direction: column;
            flex-wrap: wrap;
            gap: mix.rem(20px);

            li {
                flex-direction: column;
                flex-wrap: nowrap;
            }
        }
    }

    .growing-highlights {
        margin-top: mix.rem(50px);

        ul {
            flex-direction: column;
            gap: mix.rem(30px);
        }
    }

}