@use '../setup/mixins' as mix;
@use '../setup/variables' as v;


.cart-container {
    margin-top: mix.rem(65px);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.shopping-cart {
    flex: 2;
}

table {
    border-collapse: collapse;

}

th {
    // width: 120px;
    border-bottom: 1px v.$clr4 solid;
    text-align: center;
}

td {
    border-bottom: 1px v.$clr4 solid;
    text-align: center;
    // padding: mix.rem(18px);
}

.cart-item-img {
    max-height: 150px;
    min-height: 35px;
    height: calc(100vw - mix.rem(720px));
}


.item-container {
    border-top: 1px v.$clr4 solid;
    display: flex;
}

.item-qunatity {
    display: flex;

    input {
        text-align: center;
    }
}

.cart-summery {
    margin: 0;
    height: 10%;
    position: sticky;
    top: 0;
    flex: 1;

    @include mix.respond-to(high) {
        display: none;
    }

    section {
        display: flex;
        justify-content: space-evenly;
    }

}

.item-name {
    @include mix.respond-to(low) {
        display: none;
    }
}

.remove-item {
    cursor: pointer;

    @include mix.respond-to(high) {
        max-height: 20px;
        min-height: 15px;
        height: calc(100vw - mix.rem(820px));
    }
}

.cart-footer-buttons {
    display: flex;

    & .cart-buy-btn {
        display: none;

        @include mix.respond-to(high) {
            display: block;
        }
    }
}