@use '../setup/mixins' as mix;
@use '../setup/variables' as v;


.cart-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.shopping-cart {
    flex: 2;
}

table {
    border-collapse: collapse;
  }
  
  th {
    width: 120px;
    border-bottom: 1px v.$clr4 solid;
    text-align: center;
}
  
  td {
    border-bottom: 1px v.$clr4 solid;
    text-align: center;
    padding: mix.rem(18px);
    // border-spacing: 10px;
  }

.cart-item-img {
    // width: mix.rem(122px);
    height: mix.rem(155px);
}


.item-container {
    border-top: 1px v.$clr4 solid;
    display: flex;
}

.item-qunatity {
    display: flex;
    input {
        text-align: center;
    }
}

.cart-summery {
    margin: 0;
    height: 10%;
    position: sticky;
    top: 0;
    flex: 1;
    section {
        display: flex;
        justify-content: space-evenly;
    }
}
.no-border {
    border: none;
}

.remove-item {
    cursor: pointer;
}