@use '../setup/mixins' as mix;
@use '../setup/variables' as v;


.main-shop-layout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
}

.shop-container {
    display: flex;
    flex: 1;
}

.pagination {
    margin-top: mix.rem(64px);
    margin-right: mix.rem(20px);
    display: flex;
    flex-direction: row;
    font-size: mix.rem(17px);
    gap: 20px;

    & li {
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 20px;
        display: flex;
        border: 1px #3948318d solid;
        padding: 0px mix.rem(14px) 0px mix.rem(14px);
        cursor: pointer;
    }

    & .cur-page {
        color: v.$clr3;
        background-color: v.$clr1;
    }

    & .page-nums {
        display: flex;

        & :active {
            background-color: v.$clr2;
            border: 1px v.$clr2 solid;
        }

    }

    @include mix.respond-to(low) {
        flex-direction: column;
    }
}

.page-controls {
    display: flex;
    flex-direction: column;
}

.sidenav-openbtn,
.mid-fiter {
    display: none;
}

.buttons-wraper {
    display: flex;

    & * {
        margin: 0;
    }
}

.filter-display {
    min-width: 300px; /* Adjust the width as needed */
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
    margin: 0;
    height: 10%;
    position: sticky;
    top: 0;
    background-color: v.$clr5;

    @include mix.respond-to(medium) {
        display: none;
    }

    .buttons-wraper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

.mid-fiter {
    margin-left: 0;
    white-space: nowrap;
    background-color: v.$clr5;
    position: fixed;

    @include mix.respond-to(low) {
        z-index: 100;
    }
}